[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
mypy = "*"
pytest = "*"
sphinx = "*"
build = "*"
sphinx-rtd-theme = "*"
exceptiongroup = "*"
pytest-mock = "*"

[requires]
python_version = "3.10"
